@font-face {
    font-family: "OpenDyslexic3";
    src: url("./fonts/OpenDyslexic3-Regular.woff") format("woff");
}

body {
    background-color: var(--back);
    color: var(--text);
    margin: 0;
    overflow-x: hidden;
    width: calc(var(--compress)*55% + 45%);
}

/*
goodby cpu 
h1,h2,h3,h4,h5,h6,pre,p,span,ul,li,td,ol,code,button,summary,table,hr {
    transition-property: color, background-color, border;
    transition-duration: 0.5s;
    transition-delay: 0s;
} */

h1,
h2,
h3,
h4,
h5,
h6 {
    color: var(--title);
    cursor: pointer;
    border-bottom: 1px solid var(--line);
    border-top: calc(calc(1 - var(--compress)) * 1px) solid var(--line);
    border-left: calc(calc(1 - var(--compress)) * 1px) solid var(--line);
    margin-bottom: 0;
    padding-left: 10px;
    border-radius: 6px 0 0 0;
    margin-top: calc(var(--compress)*1em);
}

h2 {
    padding-top: calc(var(--compress)*7px);
    padding-bottom: calc(var(--compress)*7px);
    font-size: calc(var(--compress)*0.7em + 0.8em);
}

h3 {
    padding-top: calc(var(--compress)*6px);
    padding-bottom: calc(var(--compress)*6px);
    font-size: calc(var(--compress)*0.53em + 0.8em);
}

h4 {
    padding-top: calc(var(--compress)*4px);
    padding-bottom: calc(var(--compress)*4px);
    font-size: calc(var(--compress)*0.2em + 0.8em);
}

h5 {
    padding-top: calc(var(--compress)*3px);
    padding-bottom: calc(var(--compress)*3px);
    font-size: 0.8em;
}

h6 {
    padding-top: calc(var(--compress)*2px);
    padding-bottom: calc(var(--compress)*2px);
    font-size: 0.8em;
}

h1 {
    border-bottom: 2px solid var(--line);
    text-align: center;
    padding-top: calc(var(--compress)*8px);
    padding-bottom: calc(var(--compress)*8px);
    margin-bottom: 0;
    font-size: calc(var(--compress)*1.2em + 0.8em);
}

b,
strong {
    color: var(--bold);
    font-weight: normal;
}

pre {
    color: var(--preformatted);
    margin: 0.5em 0.5em 0.5em 0;
}

a {
    color: var(--preformatted);
    text-decoration: none;
}

a:hover {
    color: rgb(238, 227, 206);
}

p {
    margin-top: calc(var(--compress)*4px);
    margin-bottom: calc(var(--compress)*4px);
    line-height: var(--lineHeight);
}

ul, li, td, ol {
    line-height: var(--lineHeight);
    margin: var(--space);
}

ul,ol {
    padding-inline-start: calc(var(--compress) * 1em + 1em);
}

ul {
    list-style-type: "•";
}

li {
    padding-left: 0.5em;
}


code {
    letter-spacing: normal;
    word-spacing: normal;
    font-family: Consolas, monaco, monospace;
}

button {
    color: #6df4d0;
    background-color: #001e3c;
    border: 1px solid var(--line);
    border-radius: 3px;
    margin: 5px;
    padding: 3px 10px 3px 10px;
    box-shadow: 0px 3px 1px -2px rgb(0 0 0 / 40%), 0px 2px 2px 0px rgb(0 0 0 / 30%), 0px 1px 5px 0px rgb(0 0 0 / 25%);
}

summary {
    color: var(--summary);
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

summary:hover {
    cursor: pointer;
}

button:hover {
    background-color: #073058;
}

button:active {
    background-color: #004c99;
}

table {
    box-shadow: 0px 4px 2px -1px rgb(0 0 0 / 40%), 0px 2px 2px 0px rgb(0 0 0 / 30%), 0px 1px 5px 0px rgb(0 0 0 / 25%);
    border-collapse: collapse;
    background: var(--table);
    border-radius: 6px;
    border: 1px solid var(--line);
    overflow: hidden;
    padding: 1px;
    margin-top: 4px;
    margin-bottom: 4px;
}

thead tr {
    background: var(--table-head);
}

tbody tr {
    border-bottom: 1px dotted #163455;
}

tbody tr:last-child {
    border-bottom: none;
}

th {
    color: var(--math);
    padding-left: 5px;
    padding-right: 5px;
}

td {
    border-left: 1px solid var(--line);
    border-right: 1px solid var(--line);
    padding: 4px;
}

td:first-child {
    border-left: none;
}

td:last-child {
    border-right: none;
}

code {
    background-color: var(--code);
    color: #ffffff;
    border-radius: 3px;
}

sp {
    width: 4em;
}

hr {
    border: 1px solid var(--line);
}

::-webkit-scrollbar {
    width: 10px;
    height: 10px;
}

::-webkit-scrollbar-track {
    background: var(--table);
}

::-webkit-scrollbar-thumb {
    background: var(--text);
}

::-webkit-scrollbar-thumb:hover {
    background: var(--bold);
}

.katex {
    color: var(--math);
    font-weight: calc(var(--compress) * -300 + 700) !important;
    font-size: calc(var(--compress) * 0.31em + 0.9em) !important;
}

.katex .base,
.katex .strut {
    padding: 2px;
}

span.mord.text {
    padding-left: 0.3em;
    padding-right: 0.3em;
}

.katex .base,
.katex .strut {
    padding: 2px 0 2px 0;
}

.hljs {
    background-color: var(--code) !important;
    color: var(--code-color) !important;
    padding: calc(var(--compress) * 0.3em + 0.2em) !important;
    letter-spacing: calc(var(--compress) * 0.75px + -0.75px) !important;
    word-spacing: calc(var(--compress) * 2px + -2px) !important;
    line-height: calc(var(--compress) * 0.1em + 0.9em) !important;
    font-size: calc(var(--compress) * 0.1em + 0.9em) !important;
    width: fit-content;
    border-radius: 6px;
    box-shadow: 0px 4px 2px -1px rgb(0 0 0 / 40%), 0px 2px 2px 0px rgb(0 0 0 / 30%), 0px 1px 5px 0px rgb(0 0 0 / 25%);
    font-family: consolas, monospace;
}

pre {
    padding: calc(var(--compress) * 0.3em + 0.2em) !important;
    letter-spacing: calc(var(--compress) * 0.75px + -0.75px) !important;
    word-spacing: calc(var(--compress) * 2px + -2px) !important;
    line-height: calc(var(--compress) * 0.1em + 0.9em) !important;
    font-size: calc(var(--compress) * 0.1em + 0.9em) !important;
}

.hljs-comment {
    color: #388b2d !important;
}

.H1,
.H2,
.H3,
.H4,
.H5,
.H6 {
    position: relative;
    padding-left: calc(var(--compress) * 0.5em + 0.5em) ;
    border-left: 1px solid var(--line);
    padding-top: 0.25em;
    padding-bottom: 0.1em;    
}



.H2,.H4,.H6,h2,h4,h6 {
    background-color: var(--back2);
}

.H1,.H3,.H5,h1,h3,h5 {
    background-color: var(--back);
}

.sectionHover {
    border-color: #c7d6ff;
    border-width: 2px;
}

.sectionCollapsed {
    display: none !important;;
}

.sectionCollapseButton {
    position: absolute;
    left: 0;
    top: 0;
    width: 1em;
    height: 100%;
    cursor: pointer;
}

.sectionCollapseButton:hover {
    background-color: var(--hover);
    border-left: 2px solid var(--text);
    width: calc(1em - 2px);
}

.topicLinks {
    padding: 0.5em;
    border-radius: 3px;
    background-color: var(--transparentBack);
}

h1:hover,h2:hover,h3:hover,h4:hover,h5:hover,h6:hover {
    background-color: var(--hover);
    border-bottom-color: var(--text);
}

.imageDescription {
    color: #9aa3bc;
    font-size: 80%;
    line-height: 1px;
}

img {
    border-radius: 6px;
    box-shadow: 0px 4px 2px -1px rgb(0 0 0 / 40%), 0px 2px 2px 0px rgb(0 0 0 / 30%), 0px 1px 5px 0px rgb(0 0 0 / 25%);
}

svg {
    stroke: var(--text);
    fill: var(--text);
    background-color: var(--table);            
}

svg text {
    stroke-width: 0px;        
}

#postDiv {
    padding-left: 10px;
    padding-right: calc(var(--compress) * 10px);
    padding-top: 10px;
    padding-bottom: 10px;
}

#nav {
    position: absolute;
    top: 0;
    left: -26em;
    width: 25em;
    transition: left 0.3s ease-in-out;
    /* background-color: var(--table); */
    /* border: 1px solid var(--text); */
    box-shadow: 3px 0px 1px -2px rgb(0 0 0 / 40%), 2px 0px 2px 0px rgb(0 0 0 / 30%), 1px 0px 5px 0px rgb(0 0 0 / 25%);
    backdrop-filter: blur(6px);
    background-color: var(--transparentBack);
    overflow-wrap: break-word;
    z-index: 2;
}

#nav .toggle-btn {
    position: absolute;
    top: 2px;
    left: 26.5em;
    transition: transform 0.3s ease-in-out, top 0.3s ease-in-out, opacity 0.3s ease-in-out;
    margin: 0;
}

#nav div {
    margin-left: 1em;
}

.toggle-btn span {
    width: 25px;
    height: 4px;
    border-radius: 3px;
    border: 1px solid var(--line);
    background: #001e3c;
    display: block;
    margin-top: 3px;
    box-shadow: 0px 3px 1px -2px rgb(0 0 0 / 40%), 0px 2px 2px 0px rgb(0 0 0 / 30%), 0px 1px 5px 0px rgb(0 0 0 / 25%);
}

#nav.active {
    left: 0;
}

#styleDropDown {
    display: inline-block;
    position: relative;
}

#themeList {
    position: absolute;
    top: calc(var(--themeListHeight) - 5em);
    left: 5px;
    transition: top 0.3s ease-in-out;
    width: max-content;
    height: fit-content;
    background-color: var(--transparentBack);
    backdrop-filter: blur(6px);
    border: 1px solid var(--line);
    border-radius: 6px;
    box-shadow: 0px 4px 2px -1px rgb(0 0 0 / 40%), 0px 2px 2px 0px rgb(0 0 0 / 30%), 0px 1px 5px 0px rgb(0 0 0 / 25%);
    z-index: 1;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
}

div#themeList.shown {
    top: 100%;
}

.themeOption {
    padding: 0.25em 0.5em;
    cursor: pointer;
    border-bottom: 1px solid var(--line);
}

.themeOption:last-child {
    border-bottom: none;
}

.themeOption:hover {
    background-color: var(--hover);
}

.themeOption.selected {
    background-color: var(--hover);
}

.toggle-btn.active + span {
    transform: rotate(45deg);
    top: 8px;
}

.toggle-btn.active + span + span + span {
    transform: rotate(-45deg);
    top: -8px;
}

.toggle-btn.active + span + span{
    opacity: 0;
}

.noteDiv {
    border: 2px solid var(--title);
    padding: 1em;
    border-radius: 6px;
    box-shadow: 0px 3px 4px 4px var(--hover);
}

.bottomBorder {
    padding-bottom: 0.5em;
    border-bottom: 2px solid var(--line);
    border-bottom-style: dashed;
}

.hidden {
    display: none;
}

.flashcardContainer {
    background-color: var(--back);
    margin: 1em;
    border: 1px solid var(--line);
    border-radius: 5px;
    padding: 1em;
    width: 70vw;
    min-height: 25em;
}

.flashcardControls {
    border-bottom: 2px solid var(--line);
    background-color: var(--back2);
    margin-bottom: 1em;
    width: 100%;

    display: inline-grid;
    grid-template: "a b c";    
    grid-template-columns: 1fr 3fr 1fr;
    align-items: center;
}

.flashcardTopics {
    font-family: monospace;
}

.flashcardTitle {
    justify-content: end;
    display: inherit;
    font-weight: bold;
    width: max-content;
    color: var(--line);
}

.flashcardFront {
    border: 2px solid var(--line);
    border-radius: 5px 5px 0 0;
    background-color: var(--back2);
    padding: 0.5em;
}
.flashcardBack {
    border: 2px solid var(--line);
    border-top: none;
    border-radius: 0 0 5px 5px;
    background-color: var(--back);
    padding: 0.5em;
}


.lds-ellipsis {display: inline-block;width: 80px;height: 80px;position: absolute;top: 50%;left: 50%;transform: translate(-50%, -50%);}
.lds-ellipsis div {position: absolute;top: 33px;width: 13px;height: 13px;border-radius: 50%;background: #fff;animation-timing-function: cubic-bezier(0, 1, 1, 0);}
.lds-ellipsis div:nth-child(1) {left: 8px;animation: lds-ellipsis1 0.3s infinite;}
.lds-ellipsis div:nth-child(2) {left: 8px;animation: lds-ellipsis2 0.3s infinite;}
.lds-ellipsis div:nth-child(3) {left: 32px;animation: lds-ellipsis2 0.3s infinite;}
.lds-ellipsis div:nth-child(4) {left: 56px;animation: lds-ellipsis3 0.3s infinite;}
@keyframes lds-ellipsis1 {0% {transform: scale(0);}100% {transform: scale(1);}}
@keyframes lds-ellipsis3 {0% {transform: scale(1);}100% {transform: scale(0);}}
@keyframes lds-ellipsis2 {0% {transform: translate(0, 0);}100% {transform: translate(24px, 0);}}


:root {
    --themeListHeight: 0;
    --text: #c7d6ff;
    --sub-text: #9aa3bc;
    --line-height: normal;
    --title: #6d86ff;
    --bold: #47f3a4;
    --preformatted: #e6c07b;
    --summary: #454bff;
    --back: #090f16;
    --back2: #0f1720;
    --transparentBack: #090f1677;
    --hover: #17222e;
    --line: #1e4976;
    --math: #41f0c1;
    --space: 0px;
    --code: #08172a;
    --code-color: #abb2bf;
    --table: #040609;
    --table-head: #292b56;
    font-family: Helvetica,Arial,sans-serif;
    letter-spacing: normal;
    word-spacing: normal;
    --compress: 1;
}