@font-face {
    font-family: "OpenDyslexic3";
    src: url("./fonts/OpenDyslexic3-Regular.woff") format("woff");
}

body {
    background-color: var(--back);
    color: var(--text);
    margin: 0;
    overflow-x: hidden;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    color: var(--title);
    cursor: pointer;
    border-bottom: 1px solid #1e4976;
    margin-bottom: 0;
    padding-left: 10px;
    border-radius: 6px 0 0 0;
}

h2 {
    padding-top: 7px;
    padding-bottom: 7px;
}

h3 {
    padding-top: 6px;
    padding-bottom: 6px;
}

h4 {
    padding-top: 4px;
    padding-bottom: 4px;
}

h5 {
    padding-top: 3px;
    padding-bottom: 3px;
}

h6 {
    padding-top: 2px;
    padding-bottom: 2px;
}

h1 {
    border-bottom: 2px solid #1e4976;
    text-align: center;
    padding-top: 8px;
    padding-bottom: 8px;
    margin-bottom: 0;
}

b,
strong {
    color: var(--bold);
    font-weight: normal;
}

pre {
    color: var(--pre);
    margin: 0.5em
}

a {
    color: var(--pre);
    text-decoration: none;
}

a:hover {
    color: rgb(238, 227, 206);
}

p {
    margin-top: 4px;
    margin-bottom: 4px;
    line-height: var(--lineHeight);
}

ul,
li,
td {
    line-height: var(--lineHeight);
    margin: var(--space)
}

code {
    letter-spacing: normal;
    word-spacing: normal;
    font-family: Consolas, monaco, monospace;
}

button {
    color: #6df4d0;
    background-color: #001e3c;
    border: 1px solid #1e4976;
    border-radius: 3px;
    margin: 5px;
    padding: 3px 10px 3px 10px;
    box-shadow: 0px 3px 1px -2px rgb(0 0 0 / 40%), 0px 2px 2px 0px rgb(0 0 0 / 30%), 0px 1px 5px 0px rgb(0 0 0 / 25%);
}

summary {
    color: var(--summary);
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

summary:hover {
    cursor: pointer;
}

button:hover {
    background-color: #073058;
}

button:active {
    background-color: #004c99;
}

table {
    box-shadow: 0px 4px 2px -1px rgb(0 0 0 / 40%), 0px 2px 2px 0px rgb(0 0 0 / 30%), 0px 1px 5px 0px rgb(0 0 0 / 25%);
    border-collapse: collapse;
    background: var(--table);
    border-radius: 6px;
    border: 1px solid #1e4976;
    overflow: hidden;
    padding: 1px;
    margin-top: 4px;
    margin-bottom: 4px;
}

thead tr {
    background: var(--table-head);
}

tbody tr {
    border-bottom: 1px dotted #163455;
}

tbody tr:last-child {
    border-bottom: none;
}

th {
    color: #6df4d0;
    padding-left: 5px;
    padding-right: 5px;
}

td {
    border-left: 1px solid #1e4976;
    border-right: 1px solid #1e4976;
    padding: 4px;
}

td:first-child {
    border-left: none;
}

td:last-child {
    border-right: none;
}

code {
    background-color: var(--code);
    color: #ffffff;
    border-radius: 3px;
}

sp {
    width: 4em;
}

::-webkit-scrollbar {
    width: 10px;
    height: 10px;
}

::-webkit-scrollbar-track {
    background: var(--table);
}

::-webkit-scrollbar-thumb {
    background: var(--text);
}

::-webkit-scrollbar-thumb:hover {
    background: var(--bold);
}

.katex {
    color: var(--math);
}

.katex .base,
.katex .strut {
    padding: 2px;
}

span.mord.text {
    padding-left: 0.3em;
    padding-right: 0.3em;
}

.katex .base,
.katex .strut {
    padding: 2px 0 2px 0;
}

.hljs {
    background-color: var(--code) !important;
    letter-spacing: normal;
    word-spacing: normal;
    width: fit-content;
    border-radius: 6px;
    box-shadow: 0px 4px 2px -1px rgb(0 0 0 / 40%), 0px 2px 2px 0px rgb(0 0 0 / 30%), 0px 1px 5px 0px rgb(0 0 0 / 25%);
    font-family: consolas, monospace;
}

.hljs-comment {
    color: #388b2d;
}

.H1,
.H2,
.H3,
.H4,
.H5,
.H6 {
    position: relative;
    padding-left: 1em;
    border-left: 1px solid #1e4976;
    padding-top: 0.25em;
}



.H2,.H4,.H6,h2,h4,h6 {
    background-color: var(--back2);
}

.H1,.H3,.H5,h1,h3,h5 {
    background-color: var(--back);
}

.sectionHover {
    border-color: #c7d6ff;
    border-width: 2px;
}

.sectionCollapsed {
    display: none !important;;
}

.sectionCollapseButton {
    position: absolute;
    left: 0;
    top: 0;
    width: 1em;
    height: 100%;
    cursor: pointer;
}

.sectionCollapseButton:hover {
    background-color: var(--hover);
    border-left: 2px solid var(--text);
    width: calc(1em - 2px);
}

.topicLinks {
    padding: 0.5em;
    border-radius: 3px;
    background-color: var(--transparentBack);
}

h1:hover,h2:hover,h3:hover,h4:hover,h5:hover,h6:hover {
    background-color: var(--hover);
    border-bottom-color: var(--text);
}

.imageDescription {
    color: #9aa3bc;
    font-size: 80%;
    line-height: 1px;
}

img {
    border-radius: 6px;
    box-shadow: 0px 4px 2px -1px rgb(0 0 0 / 40%), 0px 2px 2px 0px rgb(0 0 0 / 30%), 0px 1px 5px 0px rgb(0 0 0 / 25%);
}

svg {
    stroke: var(--text);
    fill: var(--text);
    background-color: var(--table);            
}

svg text {
    stroke-width: 0px;        
}

#nav {
    position: absolute;
    top: 0;
    left: -26em;
    width: 25em;
    transition: left 0.3s ease-in-out;
    /* background-color: var(--table); */
    /* border: 1px solid var(--text); */
    box-shadow: 3px 0px 1px -2px rgb(0 0 0 / 40%), 2px 0px 2px 0px rgb(0 0 0 / 30%), 1px 0px 5px 0px rgb(0 0 0 / 25%);
    backdrop-filter: blur(6px);
    background-color: var(--transparentBack);
    overflow-wrap: break-word;
}

#nav .toggle-btn {
    position: absolute;
    top: 2px;
    left: 26.5em;
    transition: transform 0.3s ease-in-out, top 0.3s ease-in-out, opacity 0.3s ease-in-out;
    margin: 0;
}

#nav div {
    margin-left: 1em;
}

.toggle-btn span {
    width: 25px;
    height: 4px;
    border-radius: 3px;
    border: 1px solid #1e4976;
    background: #001e3c;
    display: block;
    margin-top: 3px;
    box-shadow: 0px 3px 1px -2px rgb(0 0 0 / 40%), 0px 2px 2px 0px rgb(0 0 0 / 30%), 0px 1px 5px 0px rgb(0 0 0 / 25%);
}

#nav.active {
    left: 0;
}

.toggle-btn.active + span {
    transform: rotate(45deg);
    top: 8px;
}

.toggle-btn.active + span + span + span {
    transform: rotate(-45deg);
    top: -8px;
}

.toggle-btn.active + span + span{
    opacity: 0;
}

.noteDiv {
    border: 2px solid var(--title);
    padding: 1em;
    border-radius: 6px;
    box-shadow: 0px 3px 4px 4px var(--hover);
}

.bottomBorder {
    padding-bottom: 0.5em;
    border-bottom: 2px solid #1e4976;
    border-bottom-style: dashed;
}

.lds-ellipsis {display: inline-block;width: 80px;height: 80px;position: absolute;top: 50%;left: 50%;transform: translate(-50%, -50%);}
.lds-ellipsis div {position: absolute;top: 33px;width: 13px;height: 13px;border-radius: 50%;background: #fff;animation-timing-function: cubic-bezier(0, 1, 1, 0);}
.lds-ellipsis div:nth-child(1) {left: 8px;animation: lds-ellipsis1 0.3s infinite;}
.lds-ellipsis div:nth-child(2) {left: 8px;animation: lds-ellipsis2 0.3s infinite;}
.lds-ellipsis div:nth-child(3) {left: 32px;animation: lds-ellipsis2 0.3s infinite;}
.lds-ellipsis div:nth-child(4) {left: 56px;animation: lds-ellipsis3 0.3s infinite;}
@keyframes lds-ellipsis1 {0% {transform: scale(0);}100% {transform: scale(1);}}
@keyframes lds-ellipsis3 {0% {transform: scale(1);}100% {transform: scale(0);}}
@keyframes lds-ellipsis2 {0% {transform: translate(0, 0);}100% {transform: translate(24px, 0);}}


:root {
    --text: #c7d6ff;
    --sub-text: #9aa3bc;
    --line-height: normal;
    --title: #6d86ff;
    --bold: #47f3a4;
    --pre: #e6c07b;
    --summary: #454bff;
    --back: #090f16;
    --back2: #0f1720;
    --transparentBack: #090f1677;
    --hover: #17222e;
    --math: #41f0c1;
    --space: 0px;
    --code: #08172a;
    --table: #040609;
    --table-head: #292b56;
    font-family: Helvetica,Arial,sans-serif;
    letter-spacing: normal;
    word-spacing: norma;
}